<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="UTF-8">
    <title>Xiaomihu</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>

<!-- 导航 -->
<div id="naver" class="">
    <nav class="navbar  navbar-default  navbar-expand-md tm-navbar">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Xiaomihu navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand " href="#">Xiao Mi Hu</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<!--          <form class="navbar-form navbar-left">-->
<!--            <div class="form-group">-->
<!--              <input type="text" class="form-control" placeholder="Search">-->
<!--            </div>-->
<!--            <button type="submit" class="btn btn-default">Submit</button>-->
<!--          </form>-->
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">主页</a></li>
            <li><a href="#">博客</a></li>
            <li><a href="#">图集</a></li>
            <li><a href="#">留言</a></li>
            <li><a href="#">朋友</a></li>
            <li><a href="#">关于</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">图书</a></li>
                <li><a href="#">电影</a></li>
                <li><a href="#">音乐</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">时光轴</a></li>

              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</div>
<!-- 头部 -->
<div id="header">
  <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-6 lt">
          <div class="jumbotron lt_about">
            <h1>黑暗中的一吻</h1>
            <p>火车进入隧道，整个车厢里一片黑暗。只听一声亲吻，接着便是一记响亮的耳光。</p>
            <p>火车迟迟开出隧道后，车厢内四个素不相识的人都没有吱声，唯有德国军官眼圈发青。</p>
            <p>中国老太太暗想：“这姑娘人美心灵更美。”</p>
            <p>姑娘想：“真奇怪，这德国人宁亲老太婆不亲我。”</p>
            <p>德国人想：“罗马尼亚人真狡猾，他偷着亲嘴，我暗里挨打。”</p>
            <p>罗马尼亚人想：“我最聪明，我吻自己的手背，又打了德国人一个耳光，没人发现。”</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button"> After reading ...</a></p>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 rt">
          <div class="col-xs-4 head_rt_img3"></div>
          <div class="col-xs-4 head_rt_img2"></div>
          <div class="col-xs-4 head_rt_img1"></div>
        </div>
      </div>
  </div>
</div>
<!-- 内容 -->
<div id="mainer">
</div>
<!-- 尾部 -->
<div id="footer"></div>


</body>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
</html>