<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="UTF-8">
    <title>Xiaomihu</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/indexStyle.css">
    <link rel="stylesheet" href="../static/css/layui.css">

</head>
<body>

<!-- 头部 -->
<div id="header">
  <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-4 lt">
            <div class="lt_about">
                <p>你好。</p>
                <p>我是小迷糊张，</p>
                <p class="main_icon">
                    <a href="{{url_for('index')}}"><i class="layui-icon layui-icon-home" ></i>  </a>
                    <a href="{{url_for('blogIndex')}}"><i class="layui-icon layui-icon-user" ></i>  </a>
                    <a href="{{url_for('photoIndex')}}"><i class="layui-icon layui-icon-picture" ></i>  </a>
                    <a href=""><i class="layui-icon layui-icon-login-weibo" ></i>  </a>
                    <a href=""><i class="layui-icon layui-icon-login-wechat" ></i>  </a>
                    <a href=""><i class="layui-icon layui-icon-dialogue" ></i>  </a>
                    <a href=""><i class="layui-icon layui-icon-share" ></i>  </a>
                    <a href=""><i class="layui-icon layui-icon-friends" ></i>  </a>
                    <a href=""><i class="layui-icon layui-icon-about" ></i>  </a>
                </p>
            </div>

        </div>
        <div class="col-xs-12 col-md-8 rt">
            <div class="row">
              <div class="col-md-3 "></div>
              <div class="col-md-3 "></div>
              <div class="col-md-3 col-xs-12 head_rt_img1"></div>
              <div class="col-md-3 "></div>
            </div>
        </div>
      </div>
  </div>
</div>
<!-- 内容 -->
<div id="mainer">
</div>
<!-- 尾部 -->
<div id="footer"></div>


</body>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/layui.js"></script>

</html>