{% extends 'new_base.html' %}
{% block base %}
<link rel="stylesheet" href="{{ url_for('static',filename='editor/css/editormd.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static',filename='css/new_blog_index.css') }}"/>

<div id="mainer">
    <div class="container-fluid">
        <div class="row">
                    <!--                博客列表页-->
                    <div class="blogList">
                        {% for i in blogItems.items%}
                            <div class="blogs">
                                <div class="imgData"><img src="{{i.img64base}}" alt=""></div>
                                <div class="info">
                                                                    <div class="title">
                                    <a href="{{url_for('blogDetail',blogId=i.id)}}">{{i.title}}</a>
                                </div>
                                <div class="content">
<!--                                    先调用safe转义过滤器, 再调用striptags清除html渲染后的格式-->
                                    <span>{{i.content |safe|striptags|truncate  }}</span>
                                </div>
                                <div class="typeName">
                                    <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                                    {% if i.typeId==1 %}
                                      <span>测试分类</span>
                                     {% endif %}
                                </div>
                                <div class="addTime">
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                    <span>{{i.addTime }}</span>
                                </div>
                                <div class="reading">
                                    <span class=" glyphicon glyphicon-eye-open " aria-hidden="true"></span>
                                    <span>浏览（{{i.reading}}）</span>
                                </div>
                                <div class="read">
                                    <a href="{{url_for('blogDetail',blogId=i.id)}}" class="">阅读原文</a>
                                </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                   <!--                分页-->

                    <div class=" page">
                        <div class="form-group text-center pages">
                            {% if blogItems.has_prev %}
                                <a class="btn  btn-primary a_width  "  href="{{ url_for('blogIndex',page = blogItems.prev_num) }}">上一页</a>
                            {% else %}
                                <button class="btn btn-default a_width disabled" type="button">首页</button>
                            {% endif %}
                            {% if blogItems.has_next %}
                                <a class="btn  btn-primary a_width"   href="{{ url_for('blogIndex',page = blogItems.next_num) }}">下一页</a>
                            {% else %}
                                <button class="btn btn-default a_width disabled" type="button">尾页</button>
                            {% endif %}
                        </div>
                    </div>

        </div>
    </div>
</div>
{% endblock %}