<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/layui.css">
    <link rel="stylesheet" type="text/css" href="../static/css/photo/photoStyle2.css" />
    <script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script></head>

</head>
<body>
    <div id="mainer">
        <div class="container-fluid ">
            <div class="row demo">
                <div class="col-xs-12 ">
                    <div class="content ">
                        <div class="content__img content__img--full" style="background:url(../static/image/png_2019-10-30_4.jpg) no-repeat center ;background-size: cover;"></div>
                        <div class="content__img content__img--full" style="background:url(../static/image/png_2019-10-30_5.jpg) no-repeat center ;background-size: cover;"></div>
                        <div class="content__img content__img--full" style="background:url(../static/image/png_2019-10-31_1.jpg) no-repeat center ;background-size: cover;"></div>
                        <div class="content__img content__img--full" style="background:url(../static/image/png_2019-10-31_2.jpg) no-repeat center ;background-size: cover;"></div>
                        <div class="content__img content__img--full" style="background:url(../static/image/gallery-img-02.jpg) no-repeat center ;background-size: cover;"></div>
                        <div class="content__img content__img--full" style="background:url(../static/image/gallery-img-04.jpg) no-repeat center ;background-size: cover;"></div>
                        <div class="content__img content__img--full" style="background:url(../static/image/gallery-img-05.jpg) no-repeat center ;background-size: cover;"></div>
                        <div class="content__img content__img--full" style="background:url(../static/image/gallery-img-06.jpg) no-repeat center ;background-size: cover;"></div>
                        <div class="content__img content__img--full" style="background:url(../static/image/png_2019-11-02_1.jpg) no-repeat center ;background-size: cover;"></div>
                        <div class="content__img content__img--full" style="background:url(../static/image/png_2019-11-02_2.jpg) no-repeat center ;background-size: cover;"></div>
                        <div class="content__img content__img--full" style="background:url(../static/image/png_2019-11-02_6.jpg) no-repeat center ;background-size: cover;"></div>
                        <div class="content__img content__img--full" style="background:url(../static/image/png_2019-11-02_7.jpg) no-repeat center ;background-size: cover;"></div>
                        <div class="content__img content__img--full" style="background:url(../static/image/png_2019-11-02_8.jpg) no-repeat center ;background-size: cover;"></div>
                        <span class="content__title">小迷糊</span>
                    </div><!--/content-->
                </div>
            </div>
            <div class="row menu">
                <p class="main_icon">
                    <a href="{{url_for('index')}}"><i class="layui-icon layui-icon-home" ></i>  </a>
                    <a href="{{url_for('blogIndex')}}"><i class="layui-icon layui-icon-user" ></i>  </a>
                    <a href="{{url_for('photoIndex')}}"><i class="layui-icon layui-icon-picture" ></i>  </a>
                    <a href=""><i class="layui-icon layui-icon-login-weibo" ></i>  </a>
                    <a href=""><i class="layui-icon layui-icon-login-wechat" ></i>  </a>
                    <a href=""><i class="layui-icon layui-icon-dialogue" ></i>  </a>
                    <a href=""><i class="layui-icon layui-icon-share" ></i>  </a>
                    <a href=""><i class="layui-icon layui-icon-friends" ></i>  </a>
                    <a href=""><i class="layui-icon layui-icon-about" ></i>  </a>
                </p>
            </div>
        </div>

    </div>
</body>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/layui.js"></script>
    <script src="../static/js/imagesloaded.pkgd.min.js"></script>
    <script src="../static/js/TweenMax.min.js"></script>
    <script src="../static/js/photo/photo2.js"></script></body>
</html>