{% extends 'new_base.html' %}
{% block base %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/photo/new_photo1.css') }}"/>
    <script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script></head>

<div id="mainer">
    <div class="container-fluid">
        <div class="row demo">
            <div class="col-xs-12 ">
                <div class="content ">
                    <img class="content__img" src="../static/image/png_2019-10-31_1.jpg"/>
                    <img class="content__img" src="../static/image/png_2019-10-30_4.jpg"/>
                    <img class="content__img" src="../static/image/png_2019-10-31_1.jpg"/>
                    <img class="content__img" src="../static/image/png_2019-10-31_2.jpg"/>
                    <img class="content__img" src="../static/image/png_2019-11-02_1.jpg"/>
                    <img class="content__img" src="../static/image/png_2019-11-02_2.jpg"/>
                    <img class="content__img" src="../static/image/png_2019-11-02_6.jpg"/>
                    <img class="content__img" src="../static/image/png_2019-11-02_7.jpg"/>
                    <img class="content__img" src="../static/image/png_2019-11-02_8.jpg"/>
                    <span class="content__title">小迷糊</span>
                </div><!--/content-->
            </div>
        </div>
    </div>
</div>
    <script src="{{ url_for('static',filename='js/imagesloaded.pkgd.min.js')}}"></script>
    <script src="{{ url_for('static',filename='js/TweenMax.min.js')}}"></script>
    <script src="{{ url_for('static',filename='js/photo/photo3.js')}}"></script>
{% endblock %}